﻿
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ristoria Pizzorante</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <style>
        body {
            background-color: #FFFDD7;
        }

       

        header {
            background-image: url('https://www.pizzeriadamichelefirenze.it/wp-content/uploads/2018/03/pizze-head-2-1024x576.jpg');
            background-size: cover;
            color: white;
            padding: 50px;
            text-align: center;
        }

            header h1 {
                font-size: 3rem;
                margin-bottom: 10px;
            }

        main {
            padding: 50px;
        }

        section {
            background-color: #632722 !important;
            color: #FFFDD7;
        }

        section.container {
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 30px;
            padding: 30px;
        }

        footer {
            background-color: #343a40;
            color: white;
            padding: 20px;
            text-align: center;
        }

        footer a {
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <header class="container-fluid">
        <h1 class="text-white">Pizzorante</h1>
        <p class="text-white">Pizza da far schifo</p>
    </header>
    <main>
        <section class="container">
            <div class="row">
                <div class="col-md-4">                                   
                    @Html.ActionLink("Scopri il menu", "Index", "Pizze", null, new { @class = "btn btn-outline-danger btn-lg" })
                </div>
                <div class="col-md-8">
                    <img src="~/Content/Immagini/Menu.jpg" alt="Menu" class="img-fluid rounded-3 w-100 h-100">
                </div>
            </div>
        </section>

        <section class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/Content/Immagini/Fattorino.jpg" alt="Fattorino" class="img-fluid rounded-3 w-100 h-100">
                </div>
                <div class="col-md-6">
                    <h2>Consegne a domicilio</h2>
                    <p>Sentiti male con le nostre pizze direttamente a casa tua, con il nostro servizio di consegna a domicilio vomiti lì e non sporchi da noi</p>
                    <p>Ordina online o chiamaci al numero Segreto</p>
                </div>

            </div>
        </section>
        <section class="container">
            <div class="row">
                <h2>Retro Satana</h2>
                <p>Non ci venite, le pizze sono avariate e il fattorino si scaccola</p>
                <p>Indirizzo: Via di non ritorno, 118 - Ovunque</p>
                <p>Orari: Lunedì - Domenica 19:00-23:00, Mercoledì chiusi</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d2970.904924815058!2d12.648802076084381!3d41.87339197124238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDHCsDUyJzI0LjIiTiAxMsKwMzknMDUuMCJF!5e0!3m2!1sit!2sit!4v1710495597339!5m2!1sit!2sit" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
    </main>
</body>
</html>